doctype html
html
  head
    title Entries with Mongoose, Node Express & Bootstrap
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
  body
    header
      nav
        .nav-wrapper.pink
          a.brand-logo(href='/') Logo
          ul#nav-mobile.right.hide-on-med-and-down
            li
              a(href='/') Entries
            li
              a(href='/articles/add') Add
            li
              a(href='/contact') Contact


    .container
      block content
      br
      hr
      footer
        p.text-muted.text-grey  &copy; 2018 Sash Seurat Samson

  script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
  script(src='/js/main.js')  
